body {
    border: solid black 0.2em;
    height: auto;
}

main {
    height: 38em;
}

.title {
    margin: 1em 1em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.soustittle {

    border-top: solid black 0.2em;
    border-bottom: solid black 0.2em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;

}

.soustittle p {
    font-size: 35px;
    align-items: flex-end;
    text-decoration: underline #f503b0;
}

.logo {
    margin: 10px 10px;
}

.nav {
    width: 100%;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.icone {
    width: 3em;
}

footer {
    border-top: solid black 0.2em;
    border-bottom: solid black 0.2em;
    height: 6em;
}

.btnBottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.button {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em -8em;
}

.listedefinie {
    display: flex;
    justify-content: space-around;
    margin: 5px 15px 10px;
    border-bottom: 1px solid black;

    align-items: center;
}

.listouille {
    width: 25%;
    text-align: center;
}

.icone2 {
    width: 2em;
}

.iconelistedefinie {
    display: flex;
    justify-content: center;
    width: 40%;

}

.listeArticle {
    margin-left: 2%;
}

fieldset {
    border: 2px solid black;
    margin: 2em;
}

legend {
    text-align: center;
    font-size: 2em;
    float: none;
    width: 45%;
}